# build-vm
build-vm/.terraform
build-vm/*.tfstate
build-vm/*.tfstate.backup
build-vm/*.tfplan

# build-k8s-cluster
build-k8s-cluster/.terraform
build-k8s-cluster/*.tfstate
build-k8s-cluster/*.tfstate.backup
build-k8s-cluster/*.tfplan
